aioredis==2.0.1
alembic==1.7.5
anyio==3.4.0
asgiref==3.4.1
async-timeout==4.0.2
attrs==21.4.0
CacheControl==0.12.10
cachy==0.3.0
certifi==2021.10.8
cffi==1.15.0
cfgv==3.3.1
charset-normalizer==2.0.10
cleo==0.8.1
click==8.0.3
clikit==0.6.2
crashtest==0.3.1
cryptography==36.0.1
distlib==0.3.4
fastapi==0.70.1
fastapi-utils==0.2.1
filelock==3.4.2
flake8==4.0.1
greenlet==1.1.2
h11==0.12.0
html5lib==1.1
identify==2.4.1
idna==3.3
importlib-metadata==4.10.0
importlib-resources==5.4.0
iniconfig==1.1.1
jeepney==0.7.1
keyring==21.8.0
lockfile==0.12.2
Mako==1.1.6
MarkupSafe==2.0.1
mccabe==0.6.1
motor==2.5.1
msgpack==1.0.3
nodeenv==1.6.0
packaging==21.3
pastel==0.2.1
pexpect==4.8.0
pkginfo==1.8.2
platformdirs==2.4.1
pluggy==1.0.0
poetry==1.1.12
poetry-core==1.0.7
pre-commit==2.16.0
ptyprocess==0.7.0
py==1.11.0
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.9.0
pyflakes==2.4.0
pyhumps==3.5.0
pylev==1.4.0
pymongo==3.12.3
pyparsing==3.0.6
pytest==6.2.5
pytest-asyncio==0.16.0
pytest-mock==3.6.1
python-dotenv==0.19.2
python-multipart==0.0.5
PyYAML==6.0
requests==2.27.0
requests-toolbelt==0.9.1
SecretStorage==3.3.1
shellingham==1.4.0
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.29
starlette==0.16.0
toml==0.10.2
tomlkit==0.8.0
typing_extensions==4.0.1
urllib3==1.26.7
uvicorn==0.16.0
virtualenv==20.13.0
webencodings==0.5.1
zipp==3.7.0
